* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  color: #080404;
}
